{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    {{ event.get_display_name }}
{% endblock head_title %}

{% block css %}
<style>
    .plx-1{
        background-image: url("{% static 'app/img/tus/1.webp' %}");
    }
    .plx-2{
        background-image: url("{% static 'app/img/tus/2.webp' %}");
    }
    .plx-3{
        background-image: url("{% static 'app/img/tus/3.webp' %}");
    }
    .plx-4{
        background-image: url("{% static 'app/img/tus/4.webp' %}");
    }

</style>

{% endblock css %}

{% block cover %}
    {% include 'events/tus/cover.html' %}
{% endblock cover %}

{% block body %}
<div class="container-md">  
    <p class="lead m-5 text-center">
        {{ event.brief }}
    </p>
    
    <hr>
    
    <div class="mx-auto my-4">
        <div class="event-info-row fs-4 text-center">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3C6D2C" class="bi bi-bicycle" viewBox="0 0 16 16">
                    <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5m1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139zM8 9.057 9.598 6.5H6.402zM4.937 9.5a2 2 0 0 0-.487-.877l-.548.877zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53z"/>
                  </svg>
                {{ event.distance }} км
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#C0C0C0" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3C6D2C" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                  </svg>
                {{ event.date }}
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#C0C0C0" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3C6D2C" class="bi bi-clock-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                </svg>
                {{ event.time }}
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#C0C0C0" class="bi bi-dot" viewBox="0 0 16 16">
                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
            </svg>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3C6D2C" class="bi bi-geo-alt-fill fs-2" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                {{ event.start_location }}    
            </div>
        </div>
    </div>

    <hr>
    <div class="row flex-lg-row align-items-center gx-0 gy-5 g-md-5 py-5">
        <div class="col-lg-6" height="500">
            <iframe class="d-block mx-lg-auto rounded shadow-lg" width="100%" height="500"
            src="{{ event.map_embed_src }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
                О маршруте
            </h1>
            <div class="lead">
                {{ event.description|linebreaks }}
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                {% if event.gpx %}
                    <a href="{{ event.gpx.url }}" class="btn btn-primary btn-lg px-4 me-md-2">
                        Скачать трек
                    </a>   
                {% endif %}
                {% if event.legend_doc %}
                    <a href="{{ event.legend_doc.url }}" class="btn btn-outline-primary btn-lg px-4 me-md-2">
                        Скачать легенду
                    </a>   
                {% endif %}
                {% if event.garmin_connect_url %}
                    <a href="{{ event.garmin_connect_url }}"  class="me-md-2">
                        <img src="https://static.garmincdn.com/com.garmin.connect/content/images/developer/gc-app-tile/xxxhdpi/gc-app-tile_@480.png" height="48" width="48">
                    </a>   
                {% endif %}

            </div>
        </div>
    </div>

</div>

<section class="parallax-container plx-1">
    <h1 class="display-3 fw-bold lh-1" id="participation"> Участие </h1>
</section>
<section class="buffer container-md">
    <div class="py-5">
        <h1 class="fw-bold text-body-emphasis lh-1 mb-2">
            Правила
        </h1>
        <div class="lead">
            {{ event.rules_txt|linebreaks}}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{ event.rules_url }}" target="_blank" class="btn btn-primary btn-lg px-4 me-md-2">
                    Правила
                </a>   
        </div>
    </div>
    <div class="py-5">
        <h1 class="fw-bold text-body-emphasis lh-1 mb-2">
            Квалификация
        </h1>
        <div class="lead">
            {{ event.qualification_txt|linebreaks}}
        </div>
    </div>
    <div class="py-5">
        <h1 class="fw-bold text-body-emphasis lh-1 mb-2">
            Поддержка
        </h1>
        <div class="lead">
            {{ event.support_txt|linebreaks}}
        </div>
    </div>

</section>


<section class="parallax-container plx-2">
    <h1 class="display-4 fw-bold lh-1"> Контрольные пункты </h1>
</section>
<section class="buffer container-md">
    <table class="table table-striped table-hover mt-5 d-none d-md-table w-100">
        <thead>
            <tr>
                <th></th>
                <th>КП</th>
                <th>От старта</th>
                <th>Между КП</th>
                <th>Время закрытия</th>
            </tr>
        </thead>
        <tbody>
            {% for control in controls %}
                <tr>
                    <td>
                        КП{{ forloop.counter }}
                    </td>
                    <td>
                        {{control.name}}
                    </td>
                    <td>
                        {{control.distance}} км
                    </td>
                    <td>
                        {{control.distance_delta}} км
                    </td>
                    <td>
                        {{control.render_datetime_close}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped table-hover mt-5 d-md-none">
        <thead>
            <tr>
                <th>КП</th>
                <th>От старта</th>
                <th>Время закрытия</th>
            </tr>
        </thead>
        <tbody>
            {% for control in controls %}
                <tr>
                    <td>
                        КП{{ forloop.counter }} {{control.name}}
                    </td>
                    <td>
                        {{control.distance}} км
                    </td>
                    <td>
                        {{control.render_datetime_close}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="parallax-container plx-3">
    <h1 class="display-4 fw-bold lh-1" id="applications"> 
        {% if event.finished %}
            Результаты
        {% else %}
            Список участников
        {% endif %}
    </h1>
</section>
<section class="buffer container-md">
    <table class="table table-striped table-hover mt-5">
        <thead>
            {% if event.finished %}
            <tr>
                <th>№ омологации</th>
                <th>Рандоннёр</th>
                <th>Результат</th>
                <th>Средняя<br>скорость</th>
            </tr>
            {% else %}
            <tr>
                <th>Рандоннёр</th>
                <th>Локация</th>
                <th>Клуб</th>
            </tr>
            {% endif %}
        </thead>
        <tbody>
            {% if event.finished %}
                {% for result in results %}
                {% if result == my_result %}
                <tr>
                    <td class="fw-bold">
                        {{result.homologation}}
                    </td>
                    <td class="fw-bold">
                        {{result.user_profile.render_name}}
                    </td>
                    <td class="fw-bold">
                        {{result.render_time}}
                    </td>
                    <td class="fw-bold">
                        {{result.avg_speed}}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        {{result.homologation}}
                    </td>
                    <td>
                        {{result.user_profile.render_name}}
                    </td>
                    <td>
                        {{result.render_time}}
                    </td>
                    <td>
                        {{result.avg_speed}}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            {% else %}
                {% for application in applications %}
                {% if application == my_application %}
                <tr>
                    <td class="fw-bold">
                        {{application.user_profile.render_name}}
                    </td>
                    <td class="fw-bold">
                        {{application.user_profile.location}}
                    </td>
                    <td class="fw-bold">
                        {{application.user_profile.club}}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>
                        {{application.user_profile.render_name}}
                    </td>
                    <td>
                        {{application.user_profile.location}}
                    </td>
                    <td>
                        {{application.user_profile.club}}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    {% if my_application %}
        {% if not my_application.payment_confirmed %}
            <div 
                hx-get="{% url 'hx_event_payment_info' event.id %}"
                hx-swap="outerHTML"
                hx-trigger="revealed"
                id="payment_info">
            </div>
        {% else %}
        <div class="alert alert-success mb-4 fs-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
            </svg>
            Ваша заявка на участие успешно оплачена. До встречи на старте!           
        </div>
        {% endif %}
    {% endif %}

    {% if not registration_disabled %}
    <a href="{{event.application_url}}" class="btn btn-lg btn-primary ml-auto">
        Зарегистрироваться
    </a>
    {% endif %}
</section>

<section class="parallax-container plx-4">
    <h1 class="display-4 fw-bold lh-1" id="orgs"> 
        Организатор бревета
    </h1>
</section>
<section class="buffer container-md my-4">
    {% if event.org %}
    <div class="text-center ">
        <a href="{{ event.org.url}}" class="text-decoration-none link-dark">
            <img class="d-block mx-auto" src="{{ event.org.image.url}}" height="200"> 
            <h2 class="fw-bold">
                {{ event.org.name }}
            </h2>
            {{ event.org.brief|linebreaks }}
        </a>
    </div>
    {% endif %}
    {% if event.support_orgs.all %}
    <hr class="w-50 mx-auto">
    <h2 class="fw-bold lh-1 m-4 text-center"> 
        При поддержке
    </h2>
    <div class="row flex-sm-row align-items-center gx-0 gy-5 g-sm-5 py-5">  
        {% for org in event.get_support_orgs %}
        <div class="col-sm-4 text-center">
            <a href="{{ org.url}}" class="text-decoration-none link-dark">
                <img class="d-block mx-auto" src="{{ org.image.url}}" height="150"> 
                <h3 class="fw-bold text-decoration-none">
                    {{ org.name }}
                </h3>
                {{ org.brief|linebreaks }}
            </a>
        </div>
        {% endfor %}
    </div>    
    {% endif %}
</section>

<section class="text-light bg-primary shadow-lg">  
    <div class="container-md py-5 mx-auto">
        <h1 class="display-5 fw-bold lh-1 mb-4 text-center">
            Контакты
        </h1>
        <div class="row flex-lg-row align-items-top justify-content-center">
            <div class="col-lg-4">
                <p class="mb-1">По вопросам организации:</p>
                <p>
                    Ильгиз Хусамутдинов
                    <a href="mailto:ilgkat@mail.ru" class="text-decoration-none text-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                        </svg>
                        ilgkat@mail.ru
                    </a>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="mb-1">По вопросам работы веб-сайта:</p>
                <p>
                    Ермаков Артём
                    <a href="mailto:avermakov@list.ru" class="text-decoration-none text-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                        </svg>
                        avermakov@list.ru
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock body %}